*{
    padding: 0%;
    margin: 0%;
}
header {background-color: rgb(35, 28, 26,0.8);
    height: 80px;
    width: 100%;
    position: fixed;
}
h1 {
    color:white;
    position: absolute;left: 120px;top: 0;line-height:80px ;
}
header ul {position: absolute;right: 5vw;top: 0;
line-height: 80px;}
header a {
    color: white;
    text-decoration: none;
}
header a:hover{text-decoration: underline;}
header li {
    display: inline;margin: 4vw;
}
.錄音環境{background-color: #ddbe95;color: white;
    height: 95vh;
    background-image: url(images/pexels-john-taran-166597215-10942519.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
    .錄音環境 h2{font-size: 60px;}
    .錄音環境 p {color: #fef7e6;font-size: 18px;
    margin: 25px 0;}
    .錄音環境 a{color: white;text-decoration: none;
    border: 1px solid #acacac;padding: 10px 20px;border-radius: 5px;}
   
    .錄音器材{background-color: #ddbe95;color: white;
        height: 85vh;
        background-image: url(images/pexels-cottonbro-6878175.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;}
        .錄音器材 h2{font-size: 60px;}
        .錄音器材 p {color: #fef7e6;font-size: 18px;
        margin: 25px 0;}
        .錄音器材 a{color: white;text-decoration: none;
        border: 1px solid #acacac;padding: 10px 20px;border-radius: 5px;}
         
.收費方式{background-color: #ddbe95;color: white;
            height: 85vh;
            background-image: url(images/cash.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;}
            .收費方式 h2{font-size: 60px;}
            .收費方式 p {color: #fef7e6;font-size: 18px;
            margin: 25px 0;}
            .收費方式 a{color: white;text-decoration: none;
            border: 1px solid #acacac;padding: 10px 20px;border-radius: 5px;}
       
footer {
    background-color: #131105;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}     
/* 響應式設計語法 */
@media screen and (max-width: 768px){header ul{display: none;}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
    .news h2 {
    font-size:40px;
    }